{
  "emoteBindings" : {
    "happy" : [ ":)", "^_^", "\\o/", ":-)", "*happy*"],
    "sad" : [ ":'(", "*cries*", "*sad*" ],
    "neutral" : [ ":|", ":-|", "-_-", "*neutral*" ],
    "laugh" : [ ":D", "XD", ":-D", "lol", "LOL", "*laugh*", "*laughs*" ],
    "annoyed" : [ ">:|", "<_<", ":(", ":-(", "*annoyed*", "*angry*", "*angery*" ],
    "oh" : [ ":o", "o.O", "O.o", "*oh*", "*ooh*", "*surprised*", "*impressed*" ],
    "oooh" : [ ":O", "O.O", "*oooh*", "*scared*" ],
    "wink" : [ ";)", ";-)", "*wink*", "*winks*", "*flirt*", "*flirts*" ],
    "idle" : [ "((", "))", "**", "*idle*"],
    "blink" : [ "*blink*", "*blinks*" ],
    "sleep" : [ "*sleep*", "*sleeps*" ],
    "eat" : [ "*eat*", "*eats*", "*nom*", "*nomnom*", "!" ]
  }
}
